# systemctl --user daemon-reload
# systemctl --user enable speedtest_logger
# systemctl --user start speedtest_logger
# journalctl -u speedtest_logger -f

[Unit]
Description=Speedtest Logger
After=network-online.target sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Code/speedtest_logger/speedtest_service.py
WorkingDirectory=/home/pi/Code/speedtest_logger
Restart=on-failure
RestartSec=10
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
